body {
  margin: 0;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
header > * {
  user-select: none;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  margin-top: 16px;
}

h1, h2 {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
}

.App {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
}

.App-m-32 {
  margin: 32px;
}
.App-mt-16 {
  margin-top: 16px;
}
.App-mr-32 {
  margin-right: 32px;
}

.App-flex-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-container-90 {
  width: 90%;
}

.App-button {
  align-self: flex-end;
  margin-top: auto;
  width: 100px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}
.App-button-primary {
  color: #ffffff;
  background-color: #ff7f1d;
}
.App-button-secondary {
  color: #000000;
  background-color: #f6f6f6;
}

.Feed-description {
  font-size: 25px;
  font-weight: 300;
}

.Feed-button-container {
  display: flex;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 5px solid transparent;
}
.Feed-button-container > img {
  width: 100%;
  border-radius: 40px;
}

.Feed-button-all {
  background-color: #ff7f1d;
}
.Feed-button-all > span {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

.Feed-add-button {
  background-color: #7683f6;
}

.Feed-selected {
  border: 5px solid #7683f6;
}

.Feed-posts {
  display: flex;
  flex-wrap: wrap;
}

.Feed-post {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 30px;
  margin: 30px;
  margin-bottom: 50px;
  box-shadow: -5px 6px 14px -3px #ccc;
  -webkit-box-shadow: -5px 6px 14px -3px #ccc;
  -moz-box-shadow: -5px 6px 14px -3px #ccc;
}
.Feed-post > img {
  border-radius: 20px;
  width: 100%;
}

.Feed-mgmt-modal {
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.Feed-mgmt-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Feed-mgmt-container > span {
  flex: 1;
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
}

.Feed-input {
  width:100%;
  margin: 10px;
  font-size: 30px;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
}