body {
  margin: 0;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  height: 100%;
  padding: 16px;
  text-align: start;
  background-color: #d1327d;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  margin-top: 16px;

}

h1, h2 {
  margin: 0;
}

h3 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  border-radius: 20px;
  width: 100%;
}

